
<form class="report-form" role="form">
  <div class="report-form-div">
    <label>Start Date</label><input class="form-control" type="date" ng-model="start"/>
  </div>
  <div class="report-form-div">
    <label>End Date</label><input class="form-control" type="date" ng-model="end"/>
  </div>
  <div class="report-form-div">
    <label>Employee</label>
    <select class="form-control" ng-model="employee">
      <option value="Jill">Jill</option>
      <option value="Mary">Mary</option>
    </select>
  </div>
  <div class="report-form-div">
    <input type='submit' class="btn form-control" ng-click="report.getApointments(start,end,employee)" value="Get Appointments" />
  </div>
</form>


<div class="report-week-div" ng-repeat="(sunday, week) in report.appointments">
  <h3 class="text-center">{{date.jsonToDate(sunday) | date:'fullDate'}} -
    {{date.addDays(date.jsonToDate(sunday),7) | date:'fullDate'}}</h3 class="center">

   <!--  <pre>{{week.tuesday | json}}</pre> -->
  <table>
    <thead>
      <tr>
        <th>Sunday</th>
        <th></th>
        <th>Monday</th>
        <th>Tusday</th>
        <th></th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th></th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="time in times" ng-class-odd="'td-odd'">
        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.sunday[time.label].title}}"
          ><div class="report-cell-div">{{week.sunday[time.label].client}}</div></td>
        
        <td ng-class="time.class" class="hour" ng-show="time.min == '00'" rowspan="4">
          <div hour-cell></div>
        </td>

        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.monday[time.label].title}}"
          ><div class="report-cell-div">{{week.monday[time.label].client}}</div></td>
        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.tuesday[time.label].title}}"
           ><div class="report-cell-div">{{week.tuesday[time.label].client}}</div></td>
        
        <td ng-class="time.class" class="hour" ng-show="time.min == '00'" rowspan="4">
          <div hour-cell></div>
        </td>

        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.wednesday[time.label].title}}"
          ><div class="report-cell-div">{{week.wednesday[time.label].client}}</div></td>
        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.thursday[time.label].title}}"
          ><div class="report-cell-div">{{week.thursday[time.label].client}}</div></td>
        
        <td ng-class="time.class" class="hour" ng-show="time.min == '00'" rowspan="4">
          <div hour-cell></div>
        </td>

        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.friday[time.label].title}}"
          ><div class="report-cell-div">{{week.friday[time.label].client}}</div></td>
        <td 
            ng-class="time.class"
            class="report-cell"
            title="{{week.saturday[time.label].title}}"
          ><div class="report-cell-div">{{week.saturday[time.label].client}}</div></td>
      </tr>
    </tbody>
  </table>
</div>